<div class="container-fluid" ng-init="init()">
    <div class="row">

      <div class="col-md-9 clearfix" id="checkout">
        <form stripe-form="stripeCallback">

          <div class="box">
                  <ul class="nav nav-pills nav-justified">
                    <li><a href="checkout-address">Address</a>
                    </li>
                    <li><a href="checkout-delivery">Delivery Method</a>
                    </li>
                    <li class="active"><a href="checkout-payment">Payment Method</a>
                    </li>
                    <li class="disabled"><a href="#">Order Review</a>
                    </li>
                  </ul>

                  <div class="content">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="box payment-method">
                                  <input class="form-control" ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" />
                                  <input class="form-control" ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry" />
                                  <input class="form-control" ng-model="cvc" placeholder="CVC" payments-format='cvc' payments-validate="cvc"/>
                              </div>
                          </div>

                      </div>
                      <!-- /.row -->

                  </div>
                  <!-- /.content -->

                  <div class="box-footer">
                      <div class="pull-left">
                          <a href="checkout-delivery" class="btn btn-default">Back to Shipping method</a>
                      </div>
                      <div class="pull-right">
                          <button type="submit" class="btn btn-default">Continue to Order review</button>
                      </div>
                  </div>
          </div>
          <!-- /.box -->

        </form>

      </div>
      <!-- /.col-md-9 -->

      <div class="col-md-3">
        <div id="order-summary" class="box">
          <div class="box-header">
              <h3>Order summary</h3>
          </div>
          <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

          <div class="table-responsive">
              <table class="table">
                  <tbody>
                      <tr>
                          <td>Order subtotal</td>
                          <th>${{ cartInfo.total }}</th>
                      </tr>
                      <tr>
                          <td>Shipping and handling</td>
                          <th>$0</th>
                      </tr>
                      <tr>
                          <td>Tax</td>
                          <th>$0</th>
                      </tr>
                      <tr class="total">
                          <td>Total</td>
                          <th>${{ cartInfo.total }}</th>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>
      <!-- /.col-md-3 -->

  </div>
  <!-- /.row -->

</div>
