<div class="container-fluid" ng-init="init()">
  {{ test}}
  <div class="row">

      <div class="col-md-9 clearfix" id="checkout">

          <div class="box">
                  <ul class="nav nav-pills nav-justified">
                    <li><a href="checkout-address">Address</a>
                    </li>
                    <li><a href="checkout-delivery">Delivery Method</a>
                    </li>
                    <li><a href="checkout-payment">Payment Method</a>
                    </li>
                    <li class="active"><a href="checkout-review">Order Review</a>
                    </li>
                  </ul>

                  <div class="content">
                    <div class="row">
                      <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th colspan="2">Product</th>
                                      <th>Quantity</th>
                                      <th>Unit price</th>
                                      <th>Unit weight</th>
                                      <th colspan="2">Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="item in cartInfo.items">
                                    <td>
                                        <a href="#">
                                            <img ng-src="{{ item.image }}" alt="picture">
                                        </a>
                                    </td>
                                    <td><a href="#">{{ item.name }}</a>
                                    </td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.price | currency }}</td>
                                    <td>{{ item.weight }}</td>
                                    <td>{{ item.price * item.quantity | currency }}</td>
                                </tr>
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <th colspan="4">Total</th>
                                      <th>{{ cartInfo.totalWeight }}</th>
                                      <th colspan="2">{{ cartInfo.total | currency}}</th>
                                  </tr>
                              </tfoot>
                          </table>

                      </div>
                      <!-- /.table-responsive -->
                    </div>
                  </div>
                  <!-- /.content -->

                  <div class="box-footer">
                      <div class="pull-left">
                          <a href="cart" class="btn btn-default">Back to Cart</a>
                      </div>
                      <div class="pull-right">
                          <a ng-click="placeOrder()" class="btn btn-default">Confirm order</a>
                      </div>
                  </div>
          </div>
          <!-- /.box -->


      </div>
      <!-- /.col-md-9 -->

      <div class="col-md-3">
        <div id="order-summary" class="box">
          <div class="box-header">
              <h3>Order summary</h3>
          </div>
          <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

          <div class="table-responsive">
              <table class="table">
                  <tbody>
                      <tr>
                          <td>Order subtotal</td>
                          <th>{{ cartInfo.total | currency }}</th>
                      </tr>
                      <tr>
                          <td>Shipping and handling</td>
                          <th>$0</th>
                      </tr>
                      <tr>
                          <td>Tax</td>
                          <th>$0</th>
                      </tr>
                      <tr class="total">
                          <td>Total</td>
                          <th>{{ cartInfo.total | currency }}</th>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>
      <!-- /.col-md-3 -->

  </div>
  <!-- /.row -->

</div>
