<div class="container-fluid" ng-init="init()">
  <div class="col-md-12 clearfix" id="checkout">
      <div class="box">
              <div class="content">
                <div class="row">
                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Order</th>
                                  <th>Date</th>
                                  <th>Total</th>
                                  <th>Status</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="order in orderList">
                                <td>{{ order.id }}</td>
                                <td>{{ order.order_date }}</td>
                                <td>${{ order.total }}</td>
                                <td>{{ order.order_status }}</td>
                                <td>
                                    <button>
                                        <a ng-click = "trackOrder()">Track Order</a>
                                    </button>
                                </td>
                            </tr>
                          </tbody>
                          <tfoot>
                          </tfoot>
                      </table>

                  </div>
                  <!-- /.table-responsive -->
                </div>
              </div>
              <!-- /.content -->
      </div>
      <!-- /.box -->


  </div>
</div>
