<div class="container-fluid" ng-init="init()">
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="row">
          <div class="col-sm-6 img-thumbnail" id="productDetailPictureSpace">
                  <img ng-src="{{selectedProduct.image}}" alt="picture" class="img-responsive" id="insideProductDetailImage">
          </div>
      </div> -->
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-lg-5"> <!-- pictures are not all 1:1 aspect ratio so outer div fills remaining space with white to make it look 1:1. The CSS to do this was to have padding and absolute positioning. The padding was changing based on window size so setting the col-xs-9 prevents the padding from getting too large. Leave the text out of this inner "row"! -->
          <div class="image img-thumbnail">
            <div class="insideImageSpace">
                <img ng-src="{{selectedProduct.image}}" alt="picture" class="img-responsive">
            </div>
          </div>
        </div>
      </div>


      <div class="box" id="details">
        <p>{{ selectedProduct.description }}</p>
          <h4>Product details</h4>
          <ul>
              <li>Name: {{ selectedProduct.name }}</li>
              <li>Price: {{ selectedProduct.price }}</li>
              <li>Weight: {{ selectedProduct.weight }} lbs</li>
              <li>In Stock: {{ selectedProduct.quantity }}</li>
          </ul>
      </div>
      <div ng-if="isAuthenticated()">
        <a ng-click="addToCart(selectedProduct.id)" class="btn btn-default">Add to cart</a>
      </div>
    </div>
  </div>
</div>
