<div class="container-fluid" ng-init="init()">
  <div ng-if="messages.error" role="alert" class="alert alert-danger text-center">
    <h4 ng-repeat="error in messages.error">{{ error.msg }}</h4>
  </div>
  <div class="row">
    <div class="text-center">
      <label style="word-spacing: 3px">Product Search: </label>
      <input ng-change="searchProduct()" ng-model="item" type="text" ng-value="initSearchValue"/>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked category-menu">
              <li ng-repeat="item in categories">
                <a ng-click="getByCategory(item.id)">{{ item.name }}</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
    <div class="col-sm-9">

      <div class="row products">

            <div class="product col-sm-6 col-md-4" ng-repeat="item in results">
                <!-- <div class="image">
                    <a href="shop-detail.html">
                        <img src="img/product3.jpg" alt="" class="img-responsive image1">
                    </a>
                </div> -->
                <!-- /.image -->
                <div class="text">
                    <h3><a ng-click="getProduct(item.id)">{{ item.name }}</a></h3>
                    <p class="price">${{ item.price }}</p>
                    <p class="buttons">
                        <a ng-click="getProduct(item.id)" class="btn btn-default">View detail</a>
                        <a ng-click="addToCart(item.id)" class="btn btn-default">Add to cart</a>
                    </p>

                </div>
                <!-- /.text -->
            </div>
            <!-- /.product -->
        </div>
      </div>
    </div>
  </div>
</div>
