<div>
  <!-- Hello this is the track order page {{var}} -->

  <!-- {{initMap}} -->

<div>
    <b>End: </b>
    <input id="end">

    </input>
    </div>
      <!-- <div id="map"></div>
    <img src="{{googleMapRequest}}"/> -->

    <div id="map"></div>
    hello
        <script src= "/js/GoogleMapsSample.js">
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd3Q644s4HHXat5mvN8xKlyT7pi1A3eYY&callback=initMap">
        </script>
        <!-- <script src="{{googleMapRequest}}">
        </script> -->

</div>
